%btn {
    transition: all ease-in-out 0.3s;
    display: inline-block;
    padding: 8px 16px;
    margin: 3px;
    position: relative;
    font-size: 1rem;

    &:hover {
        box-shadow: 4px 4px $shadow;
        transform: translate(-4px, -4px);
        cursor: pointer;
    }
}

.btn {
    @extend %btn;
    @extend %border;
    background-color: $primary-color;

}