$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;
$shadow: #222;
$margin-1: 20px 10px;
$margin-2: 16px auto;
%border {
    border: 2px solid $shadow;
    border-radius: 4px;
}