@import 'config';
@import 'buttons';



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 16px;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
    margin: 0 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
  margin: $margin-1;
  padding-top: 20px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

main {
  height: fit-content;
  flex-grow: 2;

  form {
    margin: $margin-1;

    .label-input {
      display: flex;
      margin: $margin-2;

      label {
        min-width: 120px;
      }

      input, select {
        @extend %border;
        min-width: 143px;
      }
    }
  }
}

// Index form
.form-product {
  display: flex;
  flex-wrap: wrap;

  .product-container {
    @extend %border;
    min-width: 280px;
    margin: 16px auto;
    background-color: rgb(190, 128, 248);

    .attributes {
      margin-bottom: 50px;

      p {
        text-align: center;
      }
    }
    .delete-checkbox {
      margin: 16px;
    }
  }
}


footer {
  display: flex;
  justify-content: center;
  
  p {
    margin: $margin-2;
  }
}


hr {
  @extend %border;
}